<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      {% stylesheets filter="less,cssembed,cssrewrite" output="style.css"
             '@FMCalendarBundle/Resources/public/less/style-custom.less'
      %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
      {% endstylesheets %}

    <link rel="shortcut icon" href="/favicon.ico" />

    <title>Connexion - Agnetz Tir à l'arc</title>
</head>

<body class="login">
    <div class="container">
        <div class="content">

            <div class="page-header main-header">
	            <h1>Agnetz Tir à l'arc - Calendrier</h1>
                <h2>Erreur {{ status_code }} {{ status_text }}</h2>
            </div>


            <div class="row">
                <p class="span6">
                	Something is broken. Please e-mail us at [email] and let us know what you were doing when this error occured.
                </p>
            </div>
        </div>

        <div class="footer">
            <p>
	            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/fr/">
				    <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/fr/80x15.png" />
			    </a>
	    Licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/fr/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 France License</a> - Source available on <a href="http://www.github.com/francoismonniot/francois-monniot.fr/">GitHub</a>
            </p>
        </div>
    </div> <!-- /container -->
</body>
</html>
