<!DOCTYPE html>

<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site Internet du club de tir à l'arc d'agnetz">
    <meta name="author" content="François Monniot">


{% block head_style %}
  {% stylesheets filter="cssembed,cssrewrite,yui_css" output="style.css"
         '../app/Resources/public/css/bootstrap.css'
         '../app/Resources/public/css/*'
  %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
  {% endstylesheets %}
{% endblock head_style %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/favicon.ico" />

    <title>{% block title %} ASA Tir à l'arc {% endblock title %}</title>
</head>

<body>
        <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="./accueil">ASA Tir à l'arc</a>
          <div class="nav-collapse collapse">
      <!--  <div class="pull-right">
              <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="icon-user"></i> F. Monniot
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Mon profil</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Déconnexion</a></li>
                </ul>
              </div>
            </div> -->
            <ul class="nav">
              <li class="active">
                <a href="./accueil">Accueil</a>
              </li>
              <li class="">
                <a href="./vie-du-club">Vie du Club</a>
              </li>
              <li class="">
                <a href="./photos">Photos</a>
              </li>
              <li class="">
                <a href="./nous-rejoindre">Nous Rejoindre</a>
              </li>
              <li class="">
                <a href="./contact">Contact</a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
    
<!-- Subhead
================================================== -->
{% block subhead %}
<div class="jumbotron masthead">
  <div class="container">
  {% image '../app/Resources/public/img/logo.png' output="img/logo.png" %}
    <img src="{{ asset_url }}" style="float:left;margin-right:2em;height:260px;" />
  {% endimage %}
    <h1>Archer d'Agnetz</h1>
  </div>
</div>
{% endblock subhead %}

    <div class="container">
      {% block container %}
    {% endblock container %}
    </div> <!-- /container -->

    <!-- Footer
    ================================================== -->
    <footer class="footer" style="padding:3px 0;">
        <div class="container">
            <div class="pull-right" style="text-align:right;font-size:0.9em;">
                <ul style="margin:0;" class="footer-links">
                    <li style="margin-right:2px;"><a href="#">Revenir en haut</a></li>
                    <li class="muted" style="margin-right:2px;">·</li>
                    <li style="margin-right:0;"><a href="#">Connexion</a></li>
                </ul>
                &copy;2012 ASA Tir à l'arc
            </div>
            <h5 style="display:inline;padding-right:0.5em; font-family: Times New Roman;float:left;margin:0;">Le saviez-vous <span style="font-size:21pt;font-style:italic;position:relative;top:4pt;">?</span></h5>
            <p style="font-size: 0.7em; width: 65%;height:25px; float:left; line-height:13px; margin-top:2px;">Il existe au niveau mondial deux fédérations qui font la promotion du tir à l'arc : la World Archery Federation (WA, ex FITA) et l'International Field Archery Association (IFAA).</p>
          </div>

    </footer>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
		{% javascripts
		    '../app/Resources/public/js/libs/jquery/1.7.2/jquery.min.js'
		    '../app/Resources/public/js/bootstrap.js'
		    '../app/Resources/public/js/app.js'
		    '../app/Resources/public/js/libs/wysihtml5/0.3.0/wysihtml5.js'
		    '../app/Resources/public/js/bootstrap-wysihtml5/core.js'
		    '../app/Resources/public/js/bootstrap-wysihtml5/editor.js'
		    output="script.js" filter=""
		%}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
</body>
</html>
