<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ASA Tir à l'arc</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/docs.css" rel="stylesheet"> 

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="./accueil">ASA Tir à l'arc</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="./accueil">Accueil</a>
              </li>
              <li class="">
                <a href="./vie-du-club">Vie du Club</a>
              </li>
              <li class="">
                <a href="./photos">Photos</a>
              </li>
              <li class="">
                <a href="./nous-rejoindre">Nous Rejoindre</a>
              </li>
              <li class="active">
                <a href="./contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview" style="padding: 20px 0;">
  <div class="container">
    <img src="img/logo.png" style="float:left;margin-right:2em;" />
    <h1 style="padding:60px 0;">Nous contacter</h1>
  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#email"><i class="icon-chevron-right"></i> Courrier électronique</a></li>
          <li><a href="#telephone"><i class="icon-chevron-right"></i> Téléphones</a></li>
          <li><a href="#reseaux-sociaux"><i class="icon-chevron-right"></i> Réseaux sociaux</a></li>
        </ul>
      </div>

      <div class="span9">

        
        <!-- Par Courrier électronique
        ================================================== -->
        <section id="email">
          <div class="page-header">
            <h1>Par Courrier électronique</h1>
          </div>
          <p class="lead">Vous pouvez nous contacter en envoyant un e-mail à l'adresse <a href="mailto:contact@archeragnetz.fr">contact@archeragnetz.fr</a>.</p>
          <div class="row-fluid">
            <div class="span12">
                <p></p>
            </div>
          </div>
        </section>
        
        <!-- Par Téléphone
        ================================================== -->
        <section id="telephone">
          <div class="page-header">
            <h1>Par Téléphone</h1>
          </div>
          <p class="lead">Ou directement par téléphone.</p>
          <div class="row-fluid">
            <div class="span12">
                <dl>
                    <dt>Contact école de tir</dt>
                    <dd>Mangeard Alain 03.44.50.43.20</dd>
                    
                    <dt>Contact concours 3D/3DI</dt>
                    <dd>Barbier Thierry 06.16.57.00.54</dd>
                    
                    <dt>Contacter le président</dt>
                    <dd>Andreotti Jean Claude 06.30.64.19.16</dd>
                </dl>
            </div>
          </div>
        </section>
        
        <!-- Réseaux Sociaux
        ================================================== -->
        <section id="reseaux-sociaux">
          <div class="page-header">
            <h1>Via les réseaux sociaux</h1>
          </div>
          <p class="lead">Enfin notre club possède un compte sur les réseaux sociaux suivant</p>
          <div class="span6">
            <div class="well well-small">Label/Badge Facebook</div>
            <div class="well well-small">Label/Badge Twitter</div>
            <div class="well well-small">Label/Badge Google+</div>
          </div>
        </section>
        
      </div>
    </div>

  </div>



    <!-- Footer
    ================================================== -->
    <footer class="footer" style="padding:3px;">
        <div class="container">
            <div class="pull-right" style="text-align:right;font-size:0.9em;">
                <ul style="margin:0;" class="footer-links">
                    <li style="margin-right:2px;"><a href="#">Revenir en haut</a></li>
                    <li class="muted" style="margin-right:2px;">·</li>
                    <li style="margin-right:0;"><a href="https://github.com/fmonniot/archeragnetz">Sources</a></li>
                    <li class="muted" style="margin-right:2px;">·</li>
                    <li style="margin-right:0;"><a href="connexion">Connexion</a></li>
                </ul>
                &copy;2012 ASA Tir à l'arc
            </div>
            <h5 style="display:inline;padding-right:0.5em; font-family: Times New Roman;float:left;margin:0;">Le saviez-vous <span style="font-size:21pt;font-style:italic;position:relative;top:4pt;">?</span></h5>
            <p style="font-size: 0.7em; width: 65%;height:25px; float:left; line-height:13px; margin-top:2px;">Il existe au niveau mondial deux fédérations qui font la promotion du tir à l'arc : la World Archery Federation (WA, ex FITA) et l'International Field Archery Association (IFAA).</p>
          </div>

    </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/app.js"></script>

  </body>
</html>

