{% extends "::base.html.twig" %}

{% block container %}
        <!-- Mot de bienvenue
        ================================================== -->
        <section id="bienvenue">
          <!--<p class="lead"></p>-->
          <div class="row-fluid">
            <div class="span8 offset2 well">
                <p>Bienvenu à tous, d'ici ou d'ailleurs, archers confirmés ou débutants, simples curieux ou futurs archers, vous êtes tous bienvenus sur ce site comme dans notre club.</p>
                <p>L' Association Sportive d' Agnetz – Tir à l'Arc s'est donné comme vocation d'accueillir tous ceux, quelle que soient leur motivation, qui désirent s'initier s'ils n'y connaissent rien, ou se perfectionner s'ils ont déjà une expérience du tir à l'arc.</p>
                <p>Notre club a choisi de consacrer son action principalement au plaisir, plaisir des rencontres, plaisir d'une activité ludique, sportive, de loisir ou de compétition, selon les goûts et les attentes de chacun.</p>
                <p>Si vous venez chez nous, sur ce site ou dans notre club, c'est d'abord et avant tout pour y trouver un certain bien-être, c'est du moins ce que nous espérons.</p>
                <p>Alors, si cela vous convient, n'hésitez pas, poussez la porte et rejoignez nous.</p>
            </div>
          </div>
        </section>
        
        <!-- Dernières nouvelles
        ================================================== -->
        <section id="nouvelles" style="padding-top:0;">
          <div class="page-header">
            <h1>Dernières nouvelles <small>Ce que vous avez peut-être manqué.</small></h1>
          </div>
          <!--<p class="lead"></p>-->
          <div class="row-fluid">
            <ul class="span10 offset1 unstyled">
                <li><small class="muted">21/11/12</small> <small class="label label-info">INFO CONCOURS</small> Mise à disposition des mandats 2012 du concours 3D d'Agnetz</li>
            </ul>
          </div>
        </section>
        
        <!-- Prochains évènements
        ================================================== -->
        <section id="prochains-evenements">
          <div class="page-header">
            <h1>Prochains évènements <small>Ce que vous ne manquez pas !</small></h1>
          </div>
          <!--<p class="lead"></p>-->
          <div class="row-fluid">
            <ul class="span10 offset1 unstyled">
                <li><small class="muted">13/11/12</small> <small class="label label-info">ENTRAINEMENT</small> Entrainement salle Collette Besson à 20h</li >
                <li><small class="muted">21/11/12</small> <small class="label label-info">CONCOURS 3D</small> Début des préinscriptions du concours 3D d'Agnetz 2012</li>
            </ul>
          </div>
        </section>

      </div>
    </div>

  </div>



    <!-- Footer
    ================================================== -->
    <footer class="footer" style="padding:3px 0;">
        <div class="container">
            <div class="pull-right" style="text-align:right;font-size:0.9em;">
                <ul style="margin:0;" class="footer-links">
                    <li style="margin-right:2px;"><a href="#">Revenir en haut</a></li>
<!--                    <li class="muted" style="margin-right:2px;">·</li>
                    <li style="margin-right:0;"><a href="#">Mentions légales</a></li>
-->                </ul>
                &copy;2012 ASA Tir à l'arc
            </div>
            <h5 style="display:inline;padding-right:0.5em; font-family: Times New Roman;float:left;margin:0;">Le saviez-vous <span style="font-size:21pt;font-style:italic;position:relative;top:4pt;">?</span></h5>
            <p style="font-size: 0.7em; width: 65%;height:25px; float:left; line-height:13px; margin-top:2px;">Il existe au niveau mondial deux fédérations qui font la promotion du tir à l'arc : la World Archery Federation (WA, ex FITA) et l'International Field Archery Association (IFAA).</p>
          </div>

    </footer>
{% endblock container %}
