<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ASA Tir à l'arc</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/docs.css" rel="stylesheet"> 

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="./accueil">ASA Tir à l'arc</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="./accueil">Accueil</a>
              </li>
              <li class="">
                <a href="./vie-du-club">Vie du Club</a>
              </li>
              <li class="">
                <a href="./photos">Photos</a>
              </li>
              <li class="active">
                <a href="./nous-rejoindre">Nous Rejoindre</a>
              </li>
              <li class="">
                <a href="./contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview" style="padding: 20px 0;">
  <div class="container">
    <img src="img/logo.png" style="float:left;margin-right:2em;" />
    <h1 style="padding:60px 0;">Nous rejoindre</h1>
  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#horaires-et-salles"><i class="icon-chevron-right"></i> Horaires & Salles</a></li>
          <li><a href="#licences"><i class="icon-chevron-right"></i> Licences</a></li>
          <li><a href="#acces-salles"><i class="icon-chevron-right"></i> Accès aux salles</a></li>
        </ul>
      </div>
      <div class="span9">

        <!-- Horaires & Salles
        ================================================== -->
        <section id="horaires-et-salles">
          <div class="page-header">
            <h1>Horaires & Salles</h1>
          </div>
          <p class="lead">Nous accueillons tous les archers (confirmés ou débutants) et les curieux pendant notre école de tir.</p>
          <div class="row-fluid">
            <div class="span12">
                <table class="table table-bordered">
                  <tr>
                        <td></td>
                        <th>Mardi</th>
                        <th>Samedi</th>
                  </tr>
                  <tr>
                        <th>Septembre à Novembre</th>
                        <td>19h30 à 21h00 à la salle Saint Agnès</td>
                        <td>14h00 à 15h30 à la salle Saint Agnès</td>
                  </tr>
                  <tr>
                        <th>Décembre à Avril</th>
                        <td><strong>20h00</strong> à <strong>21h30</strong> à la salle Colette Besson</td>
                        <td><strong>13h00</strong> à <strong>14h30</strong> à la salle Colette Besson</td>
                  </tr>
                  <tr>
                        <th>Avril à Juin</th>
                        <td>19h30 à 21h00 à la salle Saint Agnès</td>
                        <td>14h00 à 15h30 à la salle Saint Agnès</td>
                  </tr>
                </table>
                <p>D'autres horaires sont disponibles pour les membres confirmés de notre club.</p>
            </div>
          </div>
        </section>

        <!-- Licences
        ================================================== -->
        <section id="licences">
          <div class="page-header">
            <h1>Licences</h1>
          </div>
          <p class="lead"></p>
          <div class="row-fluid">
            <div class="span12">
                Licence adulte (Hors 3D) :
     89 €

    Licence enfant (Hors 3D) :
     64 €

    Remise de 10 % pour le deuxième adhérent et suivant de la même famille

    Supplément pour 3D :
     30 €

    Nous acceptons les secondes licences dans notre club.

    Salle :
     40 €

    Nature/3 D :
     90 €

            </div>
          </div>
        </section>

        <!-- Licences
        ================================================== -->
        <section id="acces-salles">
          <div class="page-header">
            <h1>Accès aux salles</h1>
          </div>
          <p class="lead"></p>
          <div class="row-fluid">
          <ul class="thumbnails">
            <li class="span6">
                <div class="thumbnail">
                    <div class="map" style="height:300px;">
                        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.fr/maps?f=d&amp;source=s_d&amp;saddr=&amp;daddr=1-121+Rue+du+Bosquet,+60600+Agnetz&amp;geocode=CehNPq6AWpWiFaSl8QIdLB4kACkHvT5PrbPnRzHDHo8MnGezxQ&amp;hl=fr&amp;mra=mift&amp;sll=49.391242,2.367146&amp;sspn=0.00926,0.026157&amp;g=49.391228,2.367146&amp;ie=UTF8&amp;t=h&amp;ll=49.391312,2.367039&amp;spn=0.074079,0.209255&amp;output=embed"></iframe>
                    </div>
                    <div class="caption">
                        <h3 style="margin:0;">Salle sainte Agnès</h3>
                        <address style="margin:0;">1-121 Rue du Bosquet, 60600 Agnetz</address>
                        <p style="margin:0;"><a href="https://maps.google.fr/maps?f=d&amp;source=embed&amp;saddr=&amp;daddr=1-121+Rue+du+Bosquet,+60600+Agnetz&amp;geocode=CehNPq6AWpWiFaSl8QIdLB4kACkHvT5PrbPnRzHDHo8MnGezxQ&amp;hl=fr&amp;mra=mift&amp;sll=49.391242,2.367146&amp;sspn=0.00926,0.026157&amp;g=49.391228,2.367146&amp;ie=UTF8&amp;t=h&amp;ll=49.391312,2.367039&amp;spn=0.074079,0.209255"> Voir l'itinéraire sur Google Maps</a></p>
                    </div>
                </div>
            </li>
            <li class="span6">
                <div class="thumbnail">
                    <div class="map" style="height:300px;">
                        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=&amp;daddr=8+Impasse+L%C3%A9o+Lagrange,+60600+Clermont,+France&amp;hl=fr&amp;geocode=CT5YJIbfsFQiFcGK8QIdsswkACn9YvBvf7TnRzGxZBeZPvEKEw&amp;sll=49.384129,2.411698&amp;sspn=0.037883,0.104628&amp;t=h&amp;g=8+Impasse+L%C3%A9o+Lagrange,+60600+Clermont,+Oise,+Picardie,+France&amp;mra=ls&amp;ie=UTF8&amp;ll=49.384129,2.411698&amp;spn=0.037883,0.104628&amp;output=embed"></iframe>
                    </div>
                    <div class="caption">
                        <h3 style="margin:0;">Salle Colette Besson</h3>
                        <address style="margin:0;">8 Impasse Léo Lagrange, 60600 Clermont</address>
                        <p style="margin:0;"><a href="https://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=&amp;daddr=8+Impasse+L%C3%A9o+Lagrange,+60600+Clermont,+France&amp;hl=fr&amp;geocode=CT5YJIbfsFQiFcGK8QIdsswkACn9YvBvf7TnRzGxZBeZPvEKEw&amp;sll=49.384129,2.411698&amp;sspn=0.037883,0.104628&amp;t=h&amp;g=8+Impasse+L%C3%A9o+Lagrange,+60600+Clermont,+Oise,+Picardie,+France&amp;mra=ls&amp;ie=UTF8&amp;ll=49.384129,2.411698&amp;spn=0.037883,0.104628">Voir l'itinéraire sur Google Maps</a></p>
                    </div>
                </div>
            </li>
          </ul>
          </div>
        </section>
        
      </div>
    </div>

  </div>



    <!-- Footer
    ================================================== -->
    <footer class="footer" style="padding:3px;">
        <div class="container">
            <div class="pull-right" style="text-align:right;font-size:0.9em;">
                <ul style="margin:0;" class="footer-links">
                    <li style="margin-right:2px;"><a href="#">Revenir en haut</a></li>
<!--                    <li class="muted" style="margin-right:2px;">·</li>
                    <li style="margin-right:0;"><a href="#">Mentions légales</a></li>
-->                </ul>
                &copy;2012 ASA Tir à l'arc
            </div>
            <h5 style="display:inline;padding-right:0.5em; font-family: Times New Roman;float:left;margin:0;">Le saviez-vous <span style="font-size:21pt;font-style:italic;position:relative;top:4pt;">?</span></h5>
            <p style="font-size: 0.7em; width: 65%;height:25px; float:left; line-height:13px; margin-top:2px;">Il existe au niveau mondial deux fédérations qui font la promotion du tir à l'arc : la World Archery Federation (WA, ex FITA) et l'International Field Archery Association (IFAA).</p>
          </div>

    </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/app.js"></script>

  </body>
</html>

