{% extends "::base.html.twig" %}

{% block subhead %}
<header class="jumbotron subhead" id="overview" style="padding: 20px 0;">
  <div class="container">
    <img src="img/logo.png" style="float:left;margin-right:2em;" />
    <h1 style="padding:60px 0;">Vie du Club</h1>
  </div>
</header>
{% endblock subhead %}

{% block container %}
    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#installations-et-equipements"><i class="icon-chevron-right"></i>Installations & Equipements</a></li>
          <li><a href="#fonctionnement"><i class="icon-chevron-right"></i> Fonctionnement</a></li>
          <li><a href="#mandats"><i class="icon-chevron-right"></i> Mandats</a></li>
        </ul>
      </div>
      <div class="span9">

        <!-- Installations & Equipements
        ================================================== -->
        <section id="installations-et-equipements">
          <div class="page-header">
            <h1>Installations & Equipements</h1>
          </div>
          <!--<p class="lead"></p>-->
          <div class="row-fluid">
            <div class="span12">
              <p>Nous disposons de deux salles d’entrainement :</p>
              <ul>
                <li>une chauffée l’hiver à Clermont.</li>
                <li>une pour les beaux jours ainsi qu’un terrain clos pour tirer jusqu’à 70 mètres à Boulincourt commune d’Agnetz. (<a href="{{ path('fm_archer_agnetz_joinUs') }}#acces-salles">+ d'infos sur les salles</a>)</li>
              </ul>
              <p>Nous disposons d’un parc de ciblerie pour le tir en salle, en extérieur et pour le tir de parcours 3D et 3DI dans domaine forestier de qualité.</p>
            </div>
          </div>
        </section>

        <!-- Fonctionnement
        ================================================== -->
        <section id="fonctionnement">
          <div class="page-header">
            <h1>Fonctionnement</h1>
          </div>
          <!--<p class="lead"></p>-->
          <div class="row-fluid">
            <div class="span12">
              <ul>
                <li>L'école de tir est encadrée par 4 entraineurs tous les mardis et samedis hors vacances scolaires.</li>
                <li>L'entrainement des archers confirmés tous les mardis, mercredis et samedis hors congés scolaires.</li>
                <li>L'entrainement pour les 3Distes le vendredi en salle ou extérieur selon la saison.</li>
              </ul>
            </div>
          </div>
        </section>
        
        <!-- Mandats
        ================================================== -->
        <section id="mandats">
          <div class="page-header">
            <h1>Mandats</h1>
          </div>
          <p class="lead">Retrouvez tous nos mandats en téléchargement</p>
          <div class="row-fluid">
            <div class="span12">
              <ul>
                <li><a href="http://www.archeragnetz.fr/dwnld/Mandat3DAgnetz2012.pdf">Mandat concours 3D Agnetz 29 avril 2012</a></li>
              </ul>
            </div>
          </div>
        </section>

      </div>
    </div>

{% endblock container %}