{% extends "::base.html.twig" %}

{% block subhead %}
<header class="jumbotron subhead" id="overview" style="padding: 20px 0;">
  <div class="container">
    <img src="img/logo.png" style="float:left;margin-right:2em;" />
    <h1 style="padding:60px 0;">Galerie Photo</h1>
  </div>
</header>
{% endblock subhead %}

{% block container %}
    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
        </ul>
      </div>
      <div class="span9">

        <!-- Installations & Equipements
        ================================================== -->
        <section id="installations-et-equipements">
          <div class="page-header">
            <h1>En construction</h1>
          </div>
          <p class="lead">Vous pourrez bientôt retrouver tout ces moments qui vous ont marqué !</p>
          <div class="row-fluid">
            <div class="span12">
            
            </div>
          </div>
        </section>
        
      </div>
    </div>
{% endblock container %}