{% extends "::base.html.twig" %}

{% block subhead %}
<header class="jumbotron subhead" id="overview" style="padding: 20px 0;">
  <div class="container">
    <img src="img/logo.png" style="float:left;margin-right:2em;" />
    <h1 style="padding:60px 0;">Connexion</h1>
  </div>
</header>
{% endblock subhead %}

{% block container %}
            {% for key, message in app.session.getFlashes() %}
                <div class="alert {% if key == 'fos_user_success'%}alert-success{% else %}{{ key }}{% endif%}">
                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}

            {% block content %}
            <div class="row-fluid">
                <div class="span6 offset3" style="margin-top:3em;">
                    {% block fos_user_content %}{% endblock %}
                </div>
            </div>
            {% endblock content %}
        </div>
{% endblock container %}