{% extends "::base.html.twig" %}

{% block container %}
        <div class="content">
            <div class="page-header main-header">
	            <div class="btn-toolbar">
	            {% block page_header_toolbar %}{% endblock page_header_toolbar %}
	            </div>
            </div>
            {% block content %}

            {% endblock content %}
        </div>
 {% endblock container %}